<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cacao">
    <!-- Robot wheel -->
    <xacro:wheel prefix="drivewhl_l" x_reflect="0" y_reflect="1" />
    <xacro:wheel prefix="drivewhl_r" x_reflect="0" y_reflect="-1" />
    <!-- Robot caster wheel -->
    <xacro:caster prefix="tl" x_reflect="1" y_reflect="1"/>
    <xacro:caster prefix="tr" x_reflect="1" y_reflect="-1"/>
    <xacro:caster prefix="ll" x_reflect="-1" y_reflect="1"/>
    <xacro:caster prefix="lr" x_reflect="-1" y_reflect="-1"/>
</robot>